  body {
    background-color: #f2c6b4;
  }
  hr{

    height: 20px;
    width: 50%;
    border-style: none;
    border-top-style:dotted;
    border-color: white;
    border-width: thick;
  }
  img{
    border-style: ridge;
    border-color: blue;
    border-height: .5px;
  }
  h1{
    color:#1fab89;
  }
  h3{
    color: 1fab89;
  }
